<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root logger: keep info for your own app -->
    <!--  set WARN to INFO to see API logs  -->
    <root level="WARN">
        <appender-ref ref="STDOUT" />
    </root>

    <!-- Suppress Ktor startup/info messages -->
    <logger name="io.ktor.server.engine" level="WARN" />
    <logger name="io.ktor.application" level="WARN" />
    <logger name="io.ktor.server.netty" level="WARN" />

    <!-- Suppress noisy network or framework libraries -->
    <logger name="io.netty" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="org.apache" level="WARN" />
    <logger name="org.mongodb" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
</configuration>
